network:
  version: 2
  wifis:
    renderer: networkd
    wlan0:
      optional: true
      access-points:
        JDD MiniSub:
          password: 0741aa060fe072459845f5d0245b7800de1a33ef069cd6ebc2210f9b1b2de4da
      dhcp4: false
      addresses: [10.0.2.85/24]
      gateway4: 10.0.2.1
      nameservers:
        addresses: [8.8.8.8,8.8.4.4]
  ethernets:
    renderer: networkd
    eth0:
      dhcp4: true